awscli
botocore
boto3
colorama
cycler
dask
decorator
docutils
funcsigs
futures
jmespath
matplotlib
mock
networkx
numpy
pbr
Pillow
protobuf
pyasn1
pyparsing
python-dateutil
pytz
rsa
s3transfer
scikit-image
scikit-learn
scipy
six
tensorflow
toolz
pytest
pyrsistent
psutil
matplotlib
pyrr
beautifulsoup4
lxml

